asgiref==3.12.1
bcrypt==5.0.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.0
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
google-auth==2.56.3
google-auth-httplib2==0.4.1
google-auth-oauthlib==1.4.0
gunicorn==26.0.0
httplib2==0.32.0
idna==3.19
oauthlib==3.3.1
packaging==26.3
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
pyparsing==3.3.2
requests==2.34.2
requests-oauthlib==2.0.0
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
